<?xml version="1.0"?>
<launch>

    <!-- URDF -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find ar3_description)/urdf/ar3_gazebo.urdf.xacro" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find ar3_gazebo)/config/ar3_gazebo_controllers.yaml" command="load"/>

    <!-- Load controllers-->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="joint_state_controller /ar3/controllers/position
        --shutdown-timeout 1"/>

    <!-- Convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
    </node>

    <!-- Start gazebo model and world -->
    <include file="$(find ar3_gazebo)/launch/ar3_world.launch" />
</launch>